*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TimeFont';
    src: url('./assets/Digital.TTF');
}

body {
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: black;
}

.main-wrap {
    width: 100%;
    display: grid;
    place-content: center;
    height: 100%;
    position: relative;
    isolation: isolate;

    &.off {
        .big-glow {
            animation: none;
        }

        .base__clamps span {
            background-image: linear-gradient(to left, #666 5%, #444 50%);
        }

        .time {
            opacity: 0;

            &.placeholder {
                opacity: .25;
                filter: none;

                .time__half {
                    filter: none;
                }
            }

        }

        .capsule-frame {
            border-color: grey;
            filter: none;
        }

        .top-control__v-pipe::after {
            background-image: linear-gradient(to top, #111 5px, #333 13%, #111 40%, #444 90%);
        }

        .top-control__h-pipe::after {
            background-image: linear-gradient(to top, #111 3%, #333 15%, #666 30%);
        }

        .top-control__switch {
            background-image: linear-gradient(to top, grey 3%, #444 20%, #666 50%), radial-gradient(white 0%, #666 100%);
            transition: all .3s ease;

            &::before {
                filter: blur(3px) drop-shadow(0 3px 0 grey);
            }

            &::after {
                background-image: radial-gradient(darkgrey 0%, #444 70%, );
                border: 2px solid rgba(maroon, .1);
                filter: blur(1px) drop-shadow(0 0 2px darkgrey);
            }
        }



        .main-frame__inner::after {
            content: "";
            border-radius: inherit;
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 .5rem rgba(black, .2), 0 0 1.25rem rgba(black, .8), 0 0 1.5rem 0px rgba(black, .2);

        }

        .small-frame {
            background-image: linear-gradient(to top, #333 0%, #333 60%, #111 100%);

            &__inner-line {
                opacity: 0
            }
        }

        .base {
            &__circle {
                background-image: radial-gradient(#222 20%, #333 55%, #111 70%);
            }
        }

        .bracket__clamp {
            background-image: linear-gradient(to left, #444 5%, #444 50%);

            &::after {
                background-image: linear-gradient(to left, #666 40%, #111 80%);
            }

            &::before {
                background-image: linear-gradient(to left, rgba(#111, .3) 5%, #666 40%, transparent 80%, #444 100%);
            }
        }


        .bracket__arm {
            background-image: linear-gradient(to top, #444 4%, #ccc 20%, #444 70%);

            &::after {
                background-image: linear-gradient(to left, #444 30%, transparent 100%);
            }
        }

        .bracket__knob {
            background-image: conic-gradient(#333 0%, #7c7c7c 25%, #444 50%, #444 75%, #666 90%, #3d3328 100%);
            box-shadow: 0 0 3px 1px #444;

            &::after {
                background-image: linear-gradient(-200deg, rgb(255, 123, 0) 20%, transparent 65%);
                opacity: 0;
            }
        }

    }

    .top-control {

        filter: drop-shadow(0 0 .25rem rgba(black, .7));
        z-index: 10;
        transition: all .3s ease;

        &__switch {
            width: 5rem;
            height: 5rem;
            position: absolute;
            left: 50%;
            top: -1.5rem;
            transform: translateX(-50%);
            z-index: 10;
            background-image: linear-gradient(to top, orange 3%, rgb(155, 41, 0) 20%, #666 50%), radial-gradient(white 0%, #666 100%);
            border-radius: 100%;

            &::before {
                content: "";
                background-color: #444;
                filter: blur(3px) drop-shadow(0 3px 0 rgb(216, 59, 2));
                position: absolute;
                inset: .5rem;
                border-radius: 100%;
                transition: all .3s ease;
            }

            &::after {
                content: "";
                position: absolute;
                inset: 1rem;
                background-image: radial-gradient(rgb(255, 200, 180) 0%, orangered 70%, );
                border: 2px solid maroon;
                border-radius: 100%;
                filter: blur(1px) drop-shadow(0 0 2px #fff);
                transition: all .3s ease;
            }
        }

        &__v-pipe {
            width: 6.5rem;
            height: 3.5rem;
            position: absolute;
            z-index: 3;
            left: 50%;
            top: -.75rem;
            border-radius: 1rem / .5rem;
            transform: translateX(-50%);
            background-color: #666;

            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                filter: blur(5px);
                transform-origin: bottom;
                background-image: linear-gradient(to top, orange 5px, rgb(218, 59, 2) 13%, #111 40%, #444 90%);
            }

            &::before {
                content: "";
                position: absolute;
                inset: .5rem .25rem .75rem .25rem;
                background-color: #111;
                border-radius: .5rem;
                filter: blur(3px);
                z-index: 3;
            }
        }

        &__h-pipe {
            width: 4rem;
            height: 5rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: #444;
            position: absolute;
            z-index: 20;
            border-radius: 1rem / .75rem;
            z-index: 1;
            // background-image: linear-gradient(to top, orange 0%, orangered 25%, #111 50%);
            overflow: hidden;

            &::after {
                content: '';
                position: absolute;
                inset: .25rem .25rem 0 .25rem;
                background-image: linear-gradient(to top, orange 3%, rgb(180, 50, 3) 15%, #666 30%);
                filter: blur(1px);
                inset: 0;
                transform-origin: bottom;
                // transform: scale(1.5);


            }

            &::before {
                content: '';
                position: absolute;
                inset: 3px 3px .75rem 0.25rem;
                background-color: #111;
                display: block;
                z-index: 2;
                filter: blur(3px);
                border-radius: .5rem;
            }
        }
    }

    .big-glow {
        background-color: red;
        // mix-blend-mode: color-burn;
        inset: 4rem 8rem;
        position: absolute;
        z-index: 10;
        border-radius: 100vmax;
        filter: blur(4rem);
        mix-blend-mode: screen;
        opacity: 0;
        transition: all .3s ease;
        animation: glowAnim 1.2s linear infinite;

    }

    @keyframes glowAnim {
        0% {
            opacity: 0.05;
        }

        10% {
            opacity: 0.2;
        }

        15% {
            opacity: 0.1;
        }

        20% {
            opacity: 0.2;
        }

        25% {
            opacity: 0.15;
        }

        35% {
            opacity: 0.2;
        }

        45% {
            opacity: 0.08;
        }

        55% {
            opacity: 0.2;
        }

        65% {
            opacity: 0.05;
        }

        75% {
            opacity: 0.2;
        }

        85% {
            opacity: 0.15;
        }

        100% {
            opacity: 0.2;
        }
    }

    .base {
        width: 100%;
        position: absolute;
        bottom: -1rem;
        z-index: 1;

        &__clamps {
            position: relative;
            z-index: 100;
            display: flex;
            width: 100%;
            top: -1.75rem;
            justify-content: space-between;

            span {
                position: absolute;
                width: 4rem;
                height: 3rem;
                border-radius: .5rem / 1rem;
                left: -1rem;
                bottom: -1.5rem;
                background-image: linear-gradient(to left, rgb(179, 112, 13) 5%, #444 50%);
                display: block;
                filter: drop-shadow(0 0 5px rgba(black, .3));

                &::after {
                    width: 100%;
                    height: 100%;
                    content: "";
                    background-image: linear-gradient(to top, rgba(black, .6) 30%, transparent 100%);
                    position: absolute;
                    border-radius: .5rem / 1rem;
                    inset: 0;
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 20%;
                    position: absolute;
                    background-color: #111;
                    filter: blur(4px);
                    bottom: -.25rem;
                    opacity: .7;
                    border-radius: 100%;
                }

                &:nth-child(2) {
                    left: unset;
                    right: -1rem;
                    transform: scaleX(-1);
                }

            }
        }

        .base-center {
            position: absolute;
            left: 50%;
            bottom: 1rem;
            z-index: 100;
            transform: translateX(-50%);

            &__main {
                width: 8rem;
                height: 1.25rem;
                background-color: red;
                border-radius: 100%;
                position: relative;
                background-image: radial-gradient(rgb(146, 102, 31)45%, rgb(231, 192, 106) 100%);

                &::after {
                    content: "";
                    width: 8rem;
                    height: 1.25rem;
                    position: absolute;
                    bottom: -1rem;
                    z-index: -2;
                    border-radius: 100%;
                    background-color: #704b12;
                    filter: drop-shadow(0 3px 4px rgba(black, .4));
                }

                &::before {
                    width: 8rem;
                    content: "";
                    height: 1rem;
                    bottom: -.4rem;
                    z-index: -1;
                    position: absolute;
                    background-color: #704b12;
                    z-index: -2;

                }
            }

            &__fork-set {
                width: 3.5rem;
                height: 3rem;
                position: absolute;
                bottom: .5rem;
                left: 50%;
                transform: translateX(-50%);

                .base-center {

                    &__top {
                        height: 1rem;
                        width: 5rem;
                        background-color: orange;
                        position: absolute;
                        top: -.75rem;
                        left: 50%;
                        transform: translateX(-50%);
                        border-radius: .25rem / .5rem;
                        z-index: 10;

                        &::after {
                            height: 1rem;
                            width: 100%;
                            position: absolute;
                            inset: auto 0 auto 0;
                            content: "";
                            bottom: -.25rem;
                            background-color: orange;
                            border-radius: 100%;
                        }

                        &::before {
                            height: 80%;
                            width: 80%;
                            position: absolute;
                            left: 40%;
                            transform: translateX(-50%);
                            content: "";
                            background-color: rgba(#111, .4);
                            z-index: 10;
                            border-radius: 100%;
                            bottom: -.25rem;
                            filter: blur(3px);

                        }
                    }

                    &__bottom {
                        height: .75rem;
                        width: 5rem;
                        background-color: orange;
                        position: absolute;
                        bottom: -0rem;
                        left: 50%;
                        transform: translateX(-50%) scale(.7);
                        border-radius: .25rem / .5rem;
                        z-index: -1;

                        &::after {
                            height: 1rem;
                            width: 100%;
                            position: absolute;
                            inset: auto 0 auto 0;
                            content: "";
                            bottom: -.25rem;
                            background-color: orange;
                            border-radius: 100%;
                        }


                    }



                    &__legs {
                        display: flex;
                        justify-content: space-between;

                        span {
                            width: .5rem;
                            border-radius: 40vmax;
                            height: 2.75rem;
                            display: flex;
                            background-image: linear-gradient(to right, rgb(236, 188, 125) 1%, rgb(143, 91, 27) 40%);

                            &:nth-child(1) {
                                transform: rotate(-20deg);
                            }

                            &:nth-child(3) {
                                transform: rotate(20deg);
                            }
                        }
                    }
                }
            }
        }

        &__circle {
            position: absolute;
            width: 120%;
            left: 50%;
            transform: translateX(-50%);
            height: 3.5rem;
            bottom: -1.5rem;
            border-radius: 100%;
            background-image: radial-gradient(rgb(255, 208, 0) 20%, rgb(141, 53, 21) 55%, #111 70%);
            box-shadow: 0 -2px .25rem rgba(#444, .4);
            box-shadow: 0 0 2px 0px white;
        }

        &__box {
            position: absolute;
            bottom: -3.75rem;
            z-index: -1;
            height: 4.5rem;
            border-radius: 0 0 3px 3px;
            border-radius: 100%;
            width: 120%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #111;
            background-image: linear-gradient();
            // box-shadow: 0 0 2px 0px white;
            isolation: isolate;
            filter: drop-shadow(0 0 1px white);

            &::after {
                content: "";
                height: 45%;
                top: 8%;
                width: 100%;
                background-color: #111;
                position: absolute;
            }
        }

    }



}


.main-frame {
    width: 28rem;
    height: 40rem;
    background-color: #111;
    border-radius: 5rem 5rem 0 0;
    position: relative;
    overflow: hidden;






    &__inner {
        border-radius: 3.5rem 3.5rem 0 0;
        position: absolute;
        background-color: black;
        inset: 2rem 2rem 0 2rem;


        &::after {
            content: "";
            border-radius: inherit;
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 .5rem rgb(255, 220, 170), 0 0 1.25rem rgba(rgb(255, 196, 0), .8), 0 0 1.5rem 0px orangered;
            transition: all .3s ease;
        }
    }

    &__outer-line {
        position: absolute;
        inset: 1px;
        filter: blur(4px);
        background-blend-mode: luminosity;
        border: 2px solid white;
        border-radius: inherit;
        border-bottom: 0;
    }

    &__center-line {
        position: absolute;
        inset: .75rem;
        filter: blur(3px);
        border: 4px solid #0f0f0f;
        border-radius: 4rem 4rem 0 0;
        border-bottom: 0;
    }

    &__inner-line {
        position: absolute;
        inset: 1.7rem;
        border: 1px solid white;
        mix-blend-mode: color-dodge;
        border-bottom: 0;
        border-radius: 4rem 4rem 0 0;
        filter: blur(2px);
    }

    .small-frame {
        background-image: linear-gradient(to top, rgb(255, 174, 0) 0%, rgb(255, 145, 0) 60%, rgb(32, 51, 34) 100%);
        inset: -1rem 10% -1rem 10%;
        border-radius: 4rem;
        position: absolute;
        z-index: 0;
        clip-path: polygon(0 1rem, 100% 1rem, 100% 100%, 0 100%);
        transition: all .3s ease;

        &__inner {
            position: absolute;
            inset: 1rem;
            background-color: black;
            border-radius: 3rem;
        }

        &__inner-line {
            position: absolute;
            inset: .8rem;
            border: 2px solid white;
            border-radius: 3rem;
            filter: blur(2px);
        }

        &__center-line {
            position: absolute;
            inset: .8rem;
            border-radius: 3rem;
            border: 2px solid white;
            filter: blur(2px);
        }

        &__outer-line {
            position: absolute;
            inset: 1px;
            border: 4px solid #111;
            border-radius: 3.8rem;
            filter: blur(3px);
        }
    }

    .capsule-frame {
        border: 4px solid orange;
        inset: 7% 22% 10% 22%;
        border-radius: 100vmax;
        position: absolute;
        filter: drop-shadow(0 0 .25rem orange) drop-shadow(0 0 .5rem rgb(255, 136, 0));
        transition: all .3s ease;

        &::after {
            border-radius: inherit;
            content: "";
            position: absolute;
            inset: 0;
            background-repeat: no-repeat;
            opacity: .175;
            background-image: url('./assets/wires.svg');

        }
    }

    .time {
        position: absolute;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: 'TimeFont';
        transition: all .3s ease;

        &__hr,
        &__min,
        &__day,
        &__month,
        &__year {
            font-size: 5rem;
            text-align: right;
            display: flex;
        }

        &__hr,
        &__min,
        &__half,
        &__day,
        &__month,
        &__year {
            filter: drop-shadow(0 0 .75rem orangered) drop-shadow(0 0 1.5rem rgba(orangered, .8)) drop-shadow(0 0 4rem rgba(red, .8));
        }

        // &__half {

        // }

        &.placeholder {
            opacity: .25;

        }
    }

    .time {
        display: grid;
        z-index: 0;
        grid-template-columns: 2.5rem 2.5rem;
        justify-items: flex-end;
        justify-content: flex-end;
        // font-size: 5rem;
        grid-column-gap: .5rem;
        filter: drop-shadow(0 0 .25rem orangered) drop-shadow(0 0 .7rem rgba(orangered, .5)) drop-shadow(0 0 4rem rgba(red, .6));

        div:not(.time__half) {
            font-size: 4.5rem;
            text-align: right;
            line-height: 1;
        }

        &__half {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: -2rem;
            text-align: right;
            // writing-mode: vertical-rl;
            top: 2.5rem;
            font-size: 1.75rem;
        }

        &.placeholder {
            opacity: .25;
            color: white;
        }
    }


}


.left-bracket {
    position: absolute;
    height: 98%;
    left: 0;
}

.right-bracket {
    position: absolute;
    height: 98%;
    right: 0;
    transform: scaleX(-1);
    z-index: 2;
}

.bracket {
    position: absolute;
    z-index: 3;
    left: -.5rem;
    top: 25%;

    &__l1 {
        .bracket__clamp {
            filter: drop-shadow(0 5px 3px rgba(black, .4))
        }

        .bracket__arm {
            filter: drop-shadow(0 5px 3px rgba(black, .4))
        }

    }

    &__l2 {
        top: 40%;

        .bracket__clamp {
            filter: drop-shadow(0 5px 3px rgba(black, .4))
        }

        .bracket__arm {
            top: 30%;
            transform: rotate(0deg);
        }

        .bracket__knob {
            top: 0;
        }
    }


    &__l3 {
        top: 80%;

        .bracket__clamp {
            filter: drop-shadow(0 5px 3px rgba(black, .4))
        }

        .bracket__arm {
            transform: rotate(-15deg);
            top: -10%;
        }

        .bracket__knob {
            top: -80%;
            left: 220%;
            transform: rotate(-240deg);
        }
    }


    &__clamp {
        width: 3rem;
        height: 1.5rem;
        border-radius: .75rem / .25rem;

        background-image: linear-gradient(to left, rgb(179, 112, 13) 5%, #444 50%);
        background-position: left;
        overflow: hidden;
        transition: all .3s ease;

        &::after {
            content: "";
            position: absolute;
            border-radius: inherit;
            height: 90%;
            top: 0;
            border-radius: 100% / 75%;
            width: 100%;
            left: 0;
            background-image: linear-gradient(to left, hsl(40, 55%, 30%)40%, #111 80%);
            z-index: 20;
            filter: blur(4px);
            mix-blend-mode: color-dodge;
            opacity: .5;
            transition: all .3s ease;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            opacity: .3;
            background-image: linear-gradient(to left, rgba(white, .3) 5%, rgba(orangered, .7) 10%, rgb(151, 107, 12) 40%, transparent 80%, #444 100%);
            filter: blur(2px);
            mix-blend-mode: color-dodge;
            transition: all .3s ease;
        }
    }

    &__arm {
        width: 4.75rem;
        height: .5rem;
        position: absolute;
        left: 90%;
        top: 60%;
        transform: rotate(10deg);
        z-index: -1;
        background-image: linear-gradient(to top, #444 4%, #ccc 20%, #444 70%);
        transition: all .3s ease;

        &::after {
            width: 100%;
            height: 100%;
            content: " ";
            background-image: linear-gradient(to left, rgb(175, 89, 9) 30%, transparent 100%);
            position: absolute;
            z-index: 10;
            opacity: .5;
            transition: all .3s ease;

        }
    }

    &__knob {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        background-image: conic-gradient(#3d3328 0%, #7c7c7c 25%, rgb(77, 49, 24) 50%, #77421f 75%, #b8662f 90%, #3d3328 100%);
        position: absolute;
        left: 215%;
        top: 50%;
        transform: rotate(140deg);
        box-shadow: 0 0 3px 1px hsl(16, 100%, 70%);
        transition: all .3s ease;

        &::after {
            width: 100%;
            height: 100%;
            content: " ";
            background-image: linear-gradient(-200deg, rgb(255, 123, 0) 20%, transparent 65%);
            mix-blend-mode: color-dodge;
            position: absolute;
            z-index: 10;
            border-radius: 100%;
            transition: all .3s ease;


        }
    }

}

.switch {
    all: unset;
    width: 1.5rem;
    height: 1.5rem;
    background-image: radial-gradient(rgb(255, 183, 183)0%, orangered 80%);
    border-radius: 100%;
    border: 1px solid grey;
    position: absolute;
    bottom: -5rem;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 1px white);
    box-shadow: 0 0 2px orange;
}